*.old
*secret*
/bean
/camanjs
/jsbn
/sceditor
/pixlr
/datepickr
/rgraph
/fabricJS
/tablesorter
/jquery*
/base64
/smartmenus
/Materialise
\[sessions\]/
select2/New Text Document.txt
sheetjs/doesnt work 8-P.txt
